.legend-scale ul {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
}
.legend-scale ul li {
    display: block;
    width: 150px;
    margin-bottom: 6px;
    text-align: center;
    font-size: 80%;
    list-style: none;
    padding: 0 0 20px 0;
}

.legendspan {
    display: block;
    float: left;
    height: 20px;
    width: 50px;
}
.legendspanside {
    background-color:white;
    display: block;
    float: left;
    height: 20px;
    width: 100px;
    line-height: 20px;
}