@import "state-selector";
.content-body {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex: 1;
}

.mk-viz {
  flex: 1;
  display: flex;
}

.bar {
  transition: height 500ms ease-in;  
}

.report {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .report-header {
    padding: .5em;
    display: flex;
    justify-content: space-between;
    .report-header-left,
    .report-header-right {
      display: flex;
      flex-direction: column;
    }
    .report-header-right {
      max-width: 30%;
    }
    .report-title {
      font-size: 1.8em;
    }
    .report-subtitle {
      font-style: italic;
    }
  }
  .report-body {
    padding: .5em;
    flex: 1;
    display: flex;
  }
  .report-message {
    flex: 1;
    justify-content: center;
    display: flex;
    background-color: #EDEDED;
    align-items: center;
    margin: 2em;
  }
}

.report-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: .5em;
  .report-footer-right {
    display: flex;
    flex-direction: column;
    .report-footer-item {
      cursor: pointer;
      width: 100%;
      .report-footer-item-share {
        min-width: auto;
        padding: .3em;
      }
    }
  }
}
.graph {
  width: 100%;
}

.embed-url {
  width: 100%;
}