    html,
    body {
        height: 100%;
        margin: 0px;
        font-family: 'PT Sans', sans-serif;
    }
    
    .row {
        margin-right: 0px!important;
        margin-left: 0px!important;
    }
    
    .full-height {
        height: 100%;
    }
    
    .input-group-lg>.form-control {
        font-size: 14px !important;
        border-radius: 3px !important;
    }
    
    .icons-wrapper i.fa {
        padding: 0px 0px 15px 12px;
    }
    
    .nav-stacked>li {
        border: 1px solid #ddd;
    }
    
    .vis-selector-wrapper,
    .estimates-fig-wrapper {
        padding: 0px 10px 20px 0px;
    }
    
    .estimates-fig-wrapper label.btn.btn-default {
        width: 150px;
    }
    
    .view-container {
        padding: 25px 0px 0px 0px;
        min-height: 100vh;
        background: rgba(226, 225, 224, 0.48) url("bg.png");
        border-left: 1px solid rgba(128, 128, 128, 0.34);
    }
    
    a,
    a:hover,
    a:focus,
    a:active,
    a:link,
    a:visited {
        text-decoration: none!important;
        outline: none;
    }
    
    a,
    a:hover,
    a:focus {
        color: black;
        text-decoration: none;
        outline: none;
    }
    
    .card-box-shadow {
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.19), 0 1px 3px rgba(0, 0, 0, 0.23);
    }
    
    .rightsidebar {
        padding: 0px
    }
    
    .rightsidebar-titles {
        color: black;
    }
    
    .button-grps {
        margin-top: 10px;
        margin-bottom: 20px;
    }
    
    .row {
        margin-left: 15px;
        margin-right: 15px;
    }
    
    .row.row-sub-text {
        margin-left: 0px;
    }
    
    h2.openbudgets-logo-header {
        margin-top: 5px;
    }
    
    h5.budgetattr-year {
        font-weight: bold;
    }
    
    .nav-tabs .active a {
        font-weight: 700;
    }
    
    .misc-buttons-wrapper {
        top: 200px;
        position: relative;
    }
    
    #download_report {
        margin-left: -10px;
        margin-top: 15px;
    }
    
    span.share-text.rightsidebar-titles {
        font-weight: 700;
        font-size: 15px;
        padding-bottom: 20px;
    }
    
    span.close-icon {
        float: right;
        border-radius: 4px;
        padding: 0px 4px;
        font-size: 16px;
    }
    
    span.close-icon:hover {
        background: black;
        color: white;
    }
    
    span.close-icon:hover a.close-link,
    a.close-link:hover {
        color: white;
    }
    
    i.fa.fa-download.fa-lg {
        padding-right: 6px;
    }
    /*  Home Component */
    
    .home-header-wrapper {
        margin: 20px 0px;
    }
    
    .home-header-wrapper h1 {
        font-weight: bold;
        margin: 0px;
    }
    
    .contributor_org_wrapper img {
        margin: 0px 20px;
    }
    
    .col-lg-12.contributor_org_wrapper {
        margin: 20px 0px;
    }
    
    @media screen and (min-width: 768px) {
        .jumbotron {
            padding-top: 18px;
            padding-bottom: 48px;
        }
    }

    .home-header-wrapper h1 {
        font-size: 50px;
    }

    p.home-description {
    font-weight: 100;
    font-size: 20px;
    font-family: "Open Sans" , sans-serif;
}
    /* LeftSideBar */
    
    nav.navbar.top-bar.navbar-inverse {
        margin-bottom: 0px;
        border-radius: 0px;
    }
    .leftsidebar-bottom-logos a {
    margin: 15px 5px;
}

    
    .title-hr {
        width: 90%;
        border-color: black;
        border: 0;
        height: 1px;
        background: #333;
        background-image: linear-gradient(to right, #ccc, #333, #ccc);
    }
    
    .leftsidebar {
        padding: 0px 25px !important;
        min-height: 100vh;
        background: #FFF;
    }
    
    .app-title {
        text-align: center;
        font-weight: bold;
    }
    
    sub.app-version {
        font-size: 0.4em;
    }
    
    img.app-logo {
        margin: 20px 0px 0px 0px;
    }
    
    img.organization-logo {
        width: 95%;
        margin-left: 5px;
        margin-top: 10px;
    }
    
    section.panel {
        height: 450px;
        overflow-y: scroll;
    }
    
    #accordion .panel {
        border: none;
        box-shadow: none;
        border-radius: 0;
    }
    
    #accordion .panel-heading {
        padding: 0;
    }
    
    #accordion .panel-title a {
        display: block;
        font-weight: bold;
        line-height: 23px;
        color: #000;
        background: #fff;
        border: none;
        border-left: 3px solid #fbc02d;
        border-bottom: 2px solid #06cde7;
        padding: 15px 15px 15px 15px;
        font-size: 14px;
        position: relative;
        border-bottom-color: #fbc02d;
        transition: all 0.5s ease 0s;
    }
    
    #accordion .panel-title a.collapsed {
        border-bottom: 1px solid rgba(128, 128, 128, 0.34);
        color: rgba(51, 51, 51, 0.95);
        font-weight: normal;
    }
    
    #accordion .panel-title a:before {
        content: "\f106";
        font-family: FontAwesome;
        font-size: 14px;
        color: #333;
        line-height: 24px;
        position: absolute;
        top: 10px;
        right: 15px;
    }
    
    #accordion .panel-title a.collapsed:before {
        content: "\f107";
    }
    
    #accordion .panel-body {
        font-size: 15px;
        color: #8c8c8c;
        line-height: 25px;
        background: #f6f6f6;
        border: none;
        padding: 14px 20px;
    }
    
    #accordion .panel {
        margin-bottom: 2px;
    }
    
    .panel-group .panel+.panel {
        margin-top: 2px;
    }
    
    a.list-item-links {
        border: 1px solid #ddd;
        display: block;
        margin-bottom: -1px;
    }
    
    .nav-tabs > li > a {
        background: gainsboro;
    }
    
    .nav-tabs.nav-justified>.active>a {
        border: 1px solid rgba(0, 0, 0, 0.19);
        font-weight: bolder;
    }
    /* ReportView Component  */
    
    #report-container {
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        border-radius: 5px;
        /* padding: 10px 50px 50px 50px; */
        margin-right: 10px;
        position: relative;
        border: 1px solid rgba(0, 0, 0, 0.36);
        background: white;
        width: 97%;
        min-height: 500px;
    }
    
    div#header-container {
        min-height: 100px;
        padding-left: 4px;
        border-bottom: 1px solid rgba(0, 0, 0, .3);
    }
    
    .primary-header {
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 0;
        margin-top: 15px;
    }
    
    .col-lg-2.see-details-text {
        margin-top: 20px;
        font-weight: 700;
        text-align: right;
        /* padding-right: 0px; */
    }
    
    h4.secondary-header {
        margin-top: 5px;
        font-weight: 700;
        margin-bottom: 0px;
    }
    
    .addtional-details {
        padding-left: 0px;
        font-weight: bold;
    }
    
    .addtional-details h5 {
        font-weight: bold;
    }
    
    .unit-text {
        text-align: right;
    }
    
    #vis-container {
        min-height: 430px;
        border-bottom: 1px solid rgba(0, 0, 0, .3);
    }
    
    div#addtional-notes {
        padding: 15px 20px;
        text-align: justify;
    }
    
    .additional-details {
        height: 430px;
    }
    
    a.close-link,
    .see-details-text {
        cursor: pointer;
    }
    
    .additional-details-container .panel-heading {
        font-weight: 700;
        font-size: 18px;
    }
    /* Home Page */
    
    .jumbotron.text-center.intro-wrapper {
        background: white;
    }
    /* Legend */
    
    .legend-scale ul {
        margin: 0;
        padding: 0;
        float: left;
        list-style: none;
    }
    
    .legend-scale ul li {
        display: block;
        width: 130px;
        border-radius: 3px;
        border: 1px solid rgba(128, 128, 128, 0.66);
        margin-bottom: 3px;
        text-align: center;
        list-style: none;
        padding: 0 0 0px 0;
    }
    
    .legendspan {
        display: block;
        float: left;
        height: 20px;
        border-radius: 3px;
        width: 40px;
    }
    
    .legendspanside {
        background-color: white;
        display: block;
        height: 22px;
        padding-top: 2px;
    }
    
    .legendcontainer {
        position: absolute;
        padding: 5px;
        background: white;
        border: 1px solid #cccccc;
        bottom: 2em;
        border-radius: 4px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
        left: 2em;
        font-weight: 700;
        display: block;
        z-index: 180000;
    }
    
    .legend {
        display: block;
        width: 100%;
        font-size: 1.5em;
        line-height: inherit;
        color: black;
        border: 0;
        border-bottom: 1px solid black;
    }
    
    .legend-labels {
        font-size: 0.95em
    }
    /* Tooltip  */
    
    .statetoolPanelHeading {
        height: 30px;
        font-size: 12px;
        font-weight: bold;
        background-color: rgba(204, 204, 204, 0.7);
    }
    
    .statetooltip {
        position: absolute;
        bottom: 2em;
        right: 2em;
        z-index: 10006;
        color: black;
        padding: .5em .75em;
        font-size: 1em;
        display: block;
        width: 230px;
        height: 75px;
        background-color: rgba(233, 234, 229, 0.9);
        text-align: center;
        line-height: 30px;
        display: block;
    }
    /*Graph Styles */
    
    .graph-container {
        min-height: 430px;
        padding: 15px 0px;
        padding-bottom: 0px;
    }
    
    .add-state-text {
        padding-left: 50px;
    }
    
    .state-select {
        padding-top: 3px;
    }
    
    .rv-xy-plot {
        margin: 0px auto;
    }
    
    .rv-discrete-color-legend.horizontal {
        text-align: center;
    }
    
    .row.legend-row {
        margin-top: 15px;
    }
    
    .rv-discrete-color-legend-item__color {
        height: 14px;
    }
    
    .select-placeholder {
        padding-top: 25px
    }
    /* Choropleth */
    
    .select-panel {
        overflow: hidden;
        margin-bottom: 0px;
    }
    
    .leaflet-container {
        height: inherit;
        width: inherit;
        margin: 0 auto;
    }
    
    .vis-wrapper {
        height: 430px;
    }
    
    .timeline {
        margin: 20px 0;
        padding: 0;
        border-top: 2px solid #428bca;
        list-style: none;
    }
    
    .tcontainer {
        position: absolute;
        top: 25px;
        right: 25px;
        height: 10em;
        z-index: 1600;
        color: black;
        font-size: .5em;
        display: block;
        height: 67px;
        text-align: center;
        line-height: 30px;
    }
    
    .license-text {
        z-index: 1000;
        left: 0px;
        padding: 0px 5px;
        font-size: 11px;
        /* background: rgba(255, 255, 255, 0.63); */
        bottom: 0px;
        background: rgba(255, 255, 255, 0.7);
        position: absolute;
    }
